$primary: #17b978;
$secondary: #118c5b;
$success: #4519e4;
$bs-info: #268fbe;
$warning: #a9f04d;
$danger: #8a034d;
$light: #e6e6e6;
$dark: #2e0331;
$nav-link-hover-color: #fff;


@import "./node_modules/bootstrap/scss/bootstrap.scss";


/*HEADER*/

.header {
    z-index: 1000;

}



.navbar {
    background: $primary;
    display: flexbox;
}

.nav{
    font-size: 1.3rem;
    align-items: flex-end;
    text-shadow: #2e0331;
}

.nav-link {
    color: $light;

}

.navbar .nav .navbar-nav .nav-link.active {
    color: $light;
}

.logobank{
    height: auto;
    width: 250px;
    max-width: 300px;
    padding: 10px 10px;
    margin: 0 0 0 30px; 
}

.horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn{
    border-color: none;
    margin: 0 30px 0 0;
    padding: 0 30;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

.button-loguin{
    max-width: 100px;
    margin: 0;
    }
    
    
.nav-link-account{
    font-size: 0.8rem;
    text-align: center;
    color: $warning;
}

.nav-link-account:hover{
    font-size: 0.8rem;
    text-align: center;
    color: $light;
}
    
.loguin-home{
    align-items: center;
    justify-content: center;
}

.contact{
    background-color:$light;
}

/*CAROUSEL*/

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-control-prev{
    z-index: 6;
}

.carousel-control-next{
    z-index: 6;
}

.d-block{
    max-height: 70%;
}

.carousel-caption {
  margin-top: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.black-gradient-bg {
    background-image: url(Images/pexels-mikhail-nilov-7886787.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    z-index: 3;
  }

/*LOGIN*/

.container{
    z-index: 10;
    padding: 30px 0 30px 0;
}

.login-container{
    background-image: url(Images/office-gbd719be9f_1280.jpg);
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

.auxiliar-text{
    z-index: 10;
    margin-top: 10%;
}

.card-login{
    z-index: 11;
}

.greenlogo{
    width: 30px;
    height: auto;
}

/*CREATE ACCOUNT*/

.create-account{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

.tittlea{
    color: var($primary);
}

.subb{
    color: var($secondary);
}

/*DEPOSIT*/

.formDeposit{
    background-color: $light;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

